#detailLayout {
	display: flex;
	flex-direction: column;

	.detail {
		flex: 1 1 auto;
		display: flex;

		.details {
			flex: 0 0 300px;
		}
		.listCatalogs {
			flex: 1 1 auto;
			max-width: calc(100% - 300px);
		}
	}
}